[run]
# Будут учитываться все ветви конструкций, где возможны альтернативные пути выполнения кода
branch = True
# Указываем исходный код, который нужно покрывать тестами.
source = .
# Исключаем файлы и директории, не относящиеся к основной логике.
omit =
    tests/*
    */tests/*

[report]
# Регулярные выражения для строк, которые не будут учитываться при расчёте покрытия.
exclude_lines =
    pragma: no cover
    if __name__ == ['"]__main__['"]:
    def __repr__

[html]
# Директория для сохранения HTML-отчёта покрытия.
directory = htmlcov
