aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
allure-pytest==2.14.0
allure-python-commons==2.14.0
attrs==25.3.0
boto3==1.37.21
botocore==1.37.21
certifi==2025.1.31
charset-normalizer==3.4.2
click==8.1.8
cloudpickle==3.1.1
collector==0.4.6
contourpy==1.3.1
coverage==7.7.1
cycler==0.12.1
dask==2025.3.0
dill==0.3.9
distributed==2025.3.0
ffmpeg-python==0.2.0
filelock==3.18.0
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2025.3.0
future==1.0.0
h11==0.14.0
heyvi==0.2.28
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.6
jmespath==1.0.1
kiwisolver==1.4.8
lightning-utilities==0.14.2
locket==1.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mpmath==1.3.0
msgpack==1.1.0
multidict==6.2.0
networkx==3.4.2
numpy==2.2.4
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
partd==1.4.2
pillow==11.1.0
pluggy==1.5.0
propcache==0.3.1
psutil==7.0.0
pycollector==0.4.6
pyparsing==3.2.3
PySocks==1.7.1
pytest==8.3.5
pytest-cov==6.0.0
python-dateutil==2.9.0.post0
pytorch-lightning==2.5.1
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
s3transfer==0.11.4
selenium==4.31.0
setuptools==78.1.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
sympy==1.13.1
tblib==3.0.0
toolz==1.0.0
torch==2.6.0
torchmetrics==1.7.0
torchvision==0.21.0
tornado==6.4.2
tqdm==4.67.1
trio==0.29.0
trio-websocket==0.12.2
typing_extensions==4.13.0
tzdata==2025.2
ujson==5.10.0
urllib3==2.3.0
vipy==1.14.4
websocket-client==1.8.0
wsproto==1.2.0
yarl==1.18.3
zict==3.0.0
